@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  font-family: "Inter", sans-serif;
  scrollbar-width: none;
}

body {
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
}

.header {
  padding: 30px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
}

.img {
  height: 39px;
  width: 124px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav > .button {
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 400;
  background: none;
  padding: 8px;
  border-radius: 8px;
}

.nav > .button:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.main {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.botao_pesquisa {
  color: #49454f;
  padding: 12px 56px;
  background-color: #f2f2f7;
  border-radius: 28px;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  width: 50vw;
  height: 5vh;
  min-width: 360px;
  min-height: 56px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

#pesquisa {
  background-color: #f2f2f7;
  border: none;
  border-style: none;
}

#pesquisa:focus {
  outline: none;
}

.texto {
  background-color: #11b047;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 17px;
  flex-wrap: wrap;
  max-width: 1500px;
}

.card {
  width: 203px;
  height: 285px;
  border-radius: 8px;
  background-color: #f0f3ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 13px 13px;
}

.tipos {
  color: #11b047;
}
.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.principal > img {
  width: 143px;
  height: 143px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 32px;
}

.nav-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.nav-footer > .side {
  background: none;
  display: flex;
  gap: 8px;
}

.nav-footer > .side:hover {
  background: none;
  color: black;
  transform: scale(0.95);
}
